@font-face {
  font-family: 'Avenir';
  src: url(../fonts/AvenirLTStd-Roman.woff) format('woff')
  url(../fonts/AvenirLTStd-Roman.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Paragon';
  src: url(../fonts/Paragon-Regular.woff) format('woff') 
  url(../fonts/Paragon-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}