@font-face {
  font-family: 'Compagnon';
  src: url('../font/Compagnon-Bold.woff2') format('woff2'),
      url('../font/Compagnon-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


html {
  scroll-behavior: smooth;
}

body {
  max-width: 375px;
  margin: auto;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.titre {
  font-family: 'Compagnon';
  text-align: center;
}

.photo-filter {
  mix-blend-mode: darken;
}

.photo-header {
  bottom: 190px;
  display: block;
  width: 375px;
}

img {
  width: 100%;
}

.logo {
  display: flex;
  width: 80%;
}

header {
  height: 340px;

}
  
p {
  font-family: 'real head pro extralight', 'sans serif';
  text-align: center;
  font-size: 16px;
  color: #000;
}

a {
  font-family: 'real head pro extralight', 'sans serif';
  text-decoration: none;
  text-align: center;
  color: #000;
}

.button-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 60px;

}

.button {
  background-color: rgba(255,255,255, 0.6);
  padding: 15px;
  width: 50%;
  display: inline-block;
  border-radius: 20px;
}

h2 {
  font-family: 'real head pro light', 'sans serif';
  font-size: 24px;
  text-align: center;
  padding-bottom: 40px;
}

main {
  padding: 20px;
}

.card {
  background: rgba(255,255,255, 0.5);
  margin: 0 0 80px;
  padding: 30px;
  border-radius: 40px;
}

span {
  font-family: 'real head pro', 'sans serif';;
}

.sachet-container {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}


.sachet {
  width: 80%;
}

.adress {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'real head pro extralight', 'sans serif';;
}

.footer-logo {
  width: 60%;
  margin-left: 75px;
  margin-bottom: 0;
}
