

body {
  background-color: #f3dbd7;
  max-width: 375px;
margin: auto;
}
.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}
.navbar .menu-items {
  margin: -120px;
  display: flex;
}
.navbar .nav-container li {
  list-style: none;
}
.navbar .nav-container a {
  font-family: old-man-eloquent, sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}
.navbar .nav-container a:hover{
  font-weight: bolder;
}
.nav-container {
  display: block;
  position: relative;
  height: 60px;
}
.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #5b4b38;
}
.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  background-color: #f09387;
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}
.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

header {
  background-image: url("../img/fleur-violette.webp");
  margin-top: -25px;
  padding-top: 25px;
padding-bottom: 200px;
}

h1 img{
  max-width: 375px;
  width: 150px;
  position: absolute;
  right: 79px;
  top: -5px;
}

.top {
  position: relative;
  margin-top: -25px;
  background-color: rgba(255, 255, 255, .5);
}

main {
  position: relative;
  margin-top: -60px;
  background-image: url("../img/fond-beige.webp");
}

figure {
  font-family: old-man-eloquent, sans-serif;
  padding: 10px;
  background-color: rgba(255, 255, 255, .5);
  position:absolute;
  top: 209px;
  right: 64px;
}

.picture-semence {
  position: relative;
  margin-top: -200px;
  display: flex;
  overflow-x: scroll;
}

.text-semencesdepays{
  font-size: 13px;
  padding: 15px;
}

h2 {
  color: #5b4b38;
  font-family: old-man-eloquent, sans-serif;
font-weight: 400;
font-style: normal;
text-align: center ;
font-size: 40px;
}

.liane {
position: relative;
top:-156px ;
}

.semencedepays-title {
  position: relative;
  top: 98px;
}

main a {
  font-size: 30px;
  position: relative;
  right: -144px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  padding: 10px;
  background-color: #f09387;
}

main a:hover {
  background-color: #f8ccc6;
}

.point-de-vente {
  color: white;
  position: relative;
  background-color: #cddaba;
  padding: 10px 200px 10px 10px;
}

.epingle {
position: relative;
}

.epingle-blanc {
  position: absolute;
  top: 366px;
  right: 158px;
}

.epingle-rouge {
  position: absolute;
  top: 200px;
  right: 158px;
}

.epingle-bleu {
  position: absolute;
  top: 120px;
  right: 158px;
}

.epingle-violet {
  position: absolute;
  top: 37px;
  right: 158px;
}

.epingle-orange {
  position: absolute;
  top: 284px;
  right: 158px;
}

footer {
  background-image: url("../img/fleur-violette.webp");
  padding: 50px;
  text-align: center;
  font-family: old-man-eloquent, sans-serif;
  padding: 20px;
}

footer p {
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.705);
}

footer h2 {
  color: white;
}
