body{
  margin: auto;
  max-width: 375px;
  scroll-behavior: smooth;
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
}
nav {
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 5px;
  justify-content: space-between;
  font-size: 13px;
}
a{
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  justify-content: space-between;
  display: block;
}
a:hover{
  color: #702a2c;
}
h1{
  font-family: "termina", sans-serif;
  font-weight: 800;
  font-style: normal;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  position: absolute;
  right: 90px;
  top: 250px;
}
h2{
  color: #702a2c;
  position: absolute;
  padding: 15px;
}
.sdp{
  color: #702a2c;
  position: absolute;
  font-size: 50px;
  text-align: right;
  right: 0px;
  top: 70px;
  margin-right: 0px;
  padding-top: 0px;
  writing-mode: vertical-rl;
  text-orientation: sideways; 
  position: absolute;
  right: 0px;
}
.small{
  width: 250px;
  height: auto;
  margin-top: 100px;
  padding-top: 60px;
}
.small-middle{
  width: 250px;
  height: auto;
  margin-top: 100px;
  padding-top: 30px;
  position: absolute;
  right: 0px;
}
.logo{
  margin: 15px;
}
p{
  width: 280px;
  position: absolute;
  padding: 10px;
}
.nos-semences p{
  position: absolute;
  top: 50px;
  padding-left: 50px;
}
.horizontal{
  padding-left: 20px;
}
.trans{
  width: 150px;
  height: auto;
  position: absolute;
  left: 0px;
  bottom: 150px;
}
.packaging{
  width: 150px;
  height: auto;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.acheter{
  font-weight: 800;
  width: 150px;
  height: auto;
  position: absolute;
  bottom: 40px;
  right: 0px;
}
div{
  position: relative;
  height: 1000px;
}
.semence-pays{
  height: 700px;
}
.nos-semences .small{
  width: 270px;
  height: auto;
}
.carte{
  position: absolute;
  right: 80px;
  bottom: 100px;
  width: 200px;
  height: auto;
}
.lieu{
  position: absolute;
  left: 30px;
  top: 150px;
}
.pdv{
  padding-top: 70px;
}