@font-face {
    font-family: 'Compagnon';
    src: url('Compagnon-Bold.woff2') format('woff2'),
        url('Compagnon-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

